.DS_Store
.env
.env.local
.env.development
.env.production
.env.*.local
**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.*.local
!.env.example
!**/.env.example

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

node_modules/
.next/
out/
dist/

*.log
